<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <nav class="footer-nav mx-auto">
                <ul>
                    <li><img class="profile-photo-small" src="./assets/img/pay/erip.png" alt="..." height="40px"></li>
                    <li><img class="profile-photo-small" src="./assets/img/pay/belpochta.png" alt="..." height="40px"></li>
                    <li><img class="profile-photo-small" src="./assets/img/pay/europochta.png" alt="..." height="40px"></li>
                    <li><img class="profile-photo-small" src="./assets/img/pay/visa_master.png" alt="..." height="40px"></li>
                </ul>
            </nav>
            <div class="credits mx-auto">
                <span>
                    В торговом реестре с 16 апреля 2021 г., № регистрации 507608, УНП 693156055,<br>
                    регистрация № 693156055,26.03.2021, Минским облисполкомом.<br>
                    © 2021 Тимоша.бел, индивидуальный предприниматель Довнар Александр Михайлович,<br>
                    юр.адрес: 222712, Дзержинск, ул. Солнечная, 67
                </span>
            </div>
        </div>
    </div>
</footer>
