<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <nav class="footer-nav mx-auto">
                <ul>
                    <li><img class="profile-photo-small" src="./assets/img/pay/erip.png" alt="..." height="40px"></li>
                    <li><img class="profile-photo-small" src="./assets/img/pay/belpochta.png" alt="..." height="40px"></li>
                    <li><img class="profile-photo-small" src="./assets/img/pay/europochta.png" alt="..." height="40px"></li>
                    <li><img class="profile-photo-small" src="./assets/img/pay/visa_master.png" alt="..." height="40px"></li>
                </ul>
            </nav>
            <div class="credits mx-auto">
                <span>
                    В торговом реестре с 20 мая 2021 г., № регистрации 793295, УНП 691639160,<br>
                    регистрация № 691639160,20.05.2021, Минским облисполкомом.<br>
                    © 2021 modny-look.by, индивидуальный предприниматель Дедюля Наталья Владимировна,<br>
                    юр.адрес: 222712, Дзержинск, ул. Чкалова, 28Б
                </span>
            </div>
        </div>
    </div>
</footer>
